// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-green: #344e41;
$intense-green: #04724d;
$medium-green: #56876d;
$light-green: #8db38b;
$beige: #bdbea9;
$light-pink: #d2ab99;
$light-beige-background: #f9f9ec

