<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Log in", new_user_session_path %>
<%= link_to "All available visits", offers_path  %>
