<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515281239448-2abe329fe5e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2569&q=80);">
  <div class="container">
    <div class= "text-center pb-4">
      <h1>Welcome to Museum Everywhere</h1>
      <p>Culture is not as posh as you think, museums are everywhere</p>
    </div>
    <div class="row justify-content-between">
      <div class="col-12 search-bar">
      <%= simple_form_for :search, url: offers_path, method: :get, class: "form-inline" do |f| %>
        <div class= "form-row justify-content-around">
          <%= f.input :address, placeholder:'Where do you want to go ?', required: false %>
          <%= f.input :category, collection: @categories,prompt:'What are you interested in ?', required: false %>
          <div class= "search-btn-box">
            <%= f.button :submit, label:"Search", class: "btn btn-flat btn-search-bar" %>
          </div>
        </div>
      <%end%>
      </div>
    </div>
  </div>
</div>

<!-- div class="search__container">
    <p class="search__title">
        Go ahead, hover over search
    </p>
    <input class="search__input" type="text" placeholder="Search">
</div>

<div class="credits__container">
    <p class="credits__text">Background color: Pantone Color of the Year 2016 <a href="https://www.pantone.com/color-of-the-year-2016" class="credits__link">Rose Quartz</a></p>
</div> -->


<div class="container">
  <%#= render "shared/search_bar" %>
  <h3 class="slogan">Visit your neighbour's collection, garden or design flat !</h3>


  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1489769002049-ccd828976a6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1514&q=80)">
      Design
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1578302758063-0ef3e048ca89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80)">
      Gardens & Plants
    </div>

     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1600566753151-384129cf4e3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
      Famous People Flat
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517163544645-d4c2e89ed3eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
      Objects
    </div>

     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1488841714725-bb4c32d1ac94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1016&q=80)">
      Music
    </div>


     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80)">
      Animals
    </div>

    <!-- <h3 class="slogan">And so much more...</h3> -->
  </div>
</div>


