<div class="container">
  <div class="header text-center">
    <h1>Welcome to Museum everywhere</h1>
  </div>
  <div class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.afcdn.com/recipe/20180705/80348_w350h250c1cx1491cy2383.webp)">
          <%= offer.title %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
