

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.card-text {
  font-size: 12px;
}

.card {
  height: 24rem;
  position: relative;
}

.header h2 {
  margin-bottom: 2px;
}

.card-top {
  display: flex;
}

.card-img-top {
  width: 100%;
  height: 186px;
  object-fit: cover;
  position: relative;
}

.card-body {
  padding: 7px;
}

.card-img-top p {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.card-img-top p {
  font-weight: bold;
  color: white;
}

.description-text {
  font-size: 12px;
  text-align: justify;
  margin-bottom: 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
  padding: 8px;

}

.details-wrapper {
  // position: absolute;
  // bottom: 0;
}

.btn-card {
  background-color: #fff;
  color: #56876d;
  border: 1px solid #56876d;
  padding: 8px 5px;
  border-radius: 40px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family: Poppins;
  font-size: 14px;
  margin: 0px;
}

.btn-card a {
  text-decoration: none;
}

.btn-card:hover {
  text-decoration: none;
}

.card-bottom {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
