.form-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 0 auto;
  width: 70%;
  padding: 30px 45px;
}

.submit-button {
  text-align: center;
}

.form-row {
  .form-group {
    width: 40%;
  }
}
